apiVersion: apps/v1
kind: Deployment
metadata:
  name: paysafe-frontend
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paysafe-frontend
  template:
    metadata:
      labels:
        app: paysafe-frontend
    spec:
      containers:
      - name: frontend
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        ports:
        - containerPort: 80
