{{- if eq .Values.deploymentStrategy "bluegreen" }}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: paysafe-vs
  namespace: {{ .Values.namespace }}
spec:
  hosts:
    - paysafe.local
  gateways:
    - paysafe-gateway

  http:
  - match:
      - uri:
          prefix: /api
    rewrite:
      uri: /
    route:
      - destination:
          host: paysafe-backend-active
          port:
            number: 5000
            
  - match:
      - uri:
          prefix: /
    route:
      - destination:
          host: paysafe-frontend
          port:
            number: 80
{{- end }}
